<section class="about-section">
  <div class="about-container container">
    <h2 class="about-title">
      About the Program
    </h2>
    <p class="about-desc">
      Master Multi-Cloud & DevOps with MentorFox. Gain hands-on experience with industrial experts. Secure guaranteed
      placements in top companies. Master Multi-Cloud & DevOps with MentorFox. Gain hands-on experience with industrial
      experts. Secure guaranteed placements in top companies. Master Multi-Cloud & DevOps with MentorFox. Gain hands-on
      experience with industrial experts. Secure guaranteed placements in top companies Master Multi-Cloud & DevOps with
      MentorFox.
    </p>
  </div>
</section>
<!-- progress path -->
<section class=" card-section container">
  <div class="col-1">
    <div class="card">
      <p class="card-text">Starting the Program</p>
    </div>
    <div class="arrow-img-container down">
      <img src="assets/right-arrow.svg" alt="arrow-svg" class="arrow-img">
    </div>
    <div class="card">
      <p class="card-text">3 Months completely Offline course</p>
    </div>
  </div>


  <div class="col-2 ">
    <div class="blank blank-1">

    </div>
    <div class="blank blank-2">

    </div>
    <div class="arrow-img-container middle">
      <img src="assets/right-arrow.svg" alt="arrow-svg" class="arrow-img">
    </div>

  </div>
  <div class="col-3 ">
    <div class="card">
      <p class="card-text">Landing your job</p>
    </div>
    <div class="arrow-img-container up">
      <img src="assets/right-arrow.svg" alt="arrow-svg" class="arrow-img">
    </div>
    <div class="card">
      <p class="card-text">3 Months Placement Assistance</p>
    </div>
  </div>
</section>