<section class="hero-section container">
  <div class="left-col">

    <h1 class="title">
      Multi-Cloud & DevOps Mentorship Program
    </h1>


    <p class="desc">
      Master Multi-Cloud & DevOps with MentorFox. Gain hands-on experience with industrial experts. Secure guaranteed
      placements in top companies.
    </p>

    <app-button></app-button>
  </div>
  <div class="right-col">
    <div class="hero-img-container">
      <img src="assets/hero-img.svg" alt="devops-svg" class="hero-img">
    </div>
  </div>
</section>