<section class="benefits-section container">
  <div class="benefit-wrapper">
    <div class="benefit-left-col benefit-col">
      <div class="box-container">
        <p>95%</p>
        <p>Placement success</p>
      </div>
      <div class="box-container">
        <p>12 LPA</p>
        <p>Highest CTC</p>
      </div>
      <div class="box-container">
        <p>60%</p>
        <p>Average Salary Hike</p>
      </div>
    </div>
    <div class="benefit-right-col benefit-col">
      <div class="box-container">
        <p>5 LPA</p>
        <p>Average CTC</p>
      </div>
      <div class="box-container">
        <p>500+</p>
        <p>Hiring Partners</p>
      </div>
      <div class="box-container">
        <p>12+ Years</p>
        <p>Mentors' average experience</p>
      </div>
    </div>

  </div>
  <div class="btn-container">
    <app-button></app-button>
  </div>

</section>