<main class="perfectFor-section container">
  <div class="perfectFor-title-container">
    <h2>Who is it for</h2>
  </div>
  <section class="flex-wrapper">
    <div class="flex-left-col">
      <div class="perfectFor-container">
        <div class="perfectFor-logo-container">
          <img src="assets/icon-IT.svg" alt="icon-IT" class="perfectFor-logo">
        </div>
        <h3 class="perfectFor-title">IT Professionals</h3>
        <p class="perfectFor-desc">Update your knowledge, stay with industry trends, and enhance your expertise in cloud
          and DevOps.</p>
      </div>
      <div class="perfectFor-container">
        <div class="perfectFor-logo-container">
          <img src="assets/icon-graduate.svg" alt="graduate-icon" class="perfectFor-logo">
        </div>
        <h3 class="perfectFor-title">College Graduates</h3>
        <p class="perfectFor-desc">Start your Career essential IT skills in Cloud Computing and DevOps to stand out in
          the job market.</p>
      </div>
    </div>

    <!-- second section -->
    <div class="flex-right-col">
      <div class="perfectFor-container">
        <div class="perfectFor-logo-container">
          <img src="assets/icon-devops.svg" alt="devops-icon" class="perfectFor-logo">
        </div>
        <h3 class="perfectFor-title">Aspiring DevOps Engineers</h3>
        <p class="perfectFor-desc">Individuals who aspire to become DevOps engineers and are looking to upskill in the
          feild of DevOps.</p>
      </div>
      <div class="perfectFor-container">
        <div class="perfectFor-logo-container">
          <img src="../../assets/icon-cloud.svg" alt="icon-cloud-computing" class="perfectFor-logo">
        </div>
        <h3 class="perfectFor-title"> Aspiring Cloud Engineers</h3>
        <p class="perfectFor-desc">Individuals who aspire to become cloud engineers and are looking to upskill in the
          feild of DevOps.</p>
      </div>
    </div>
  </section>
</main>